{{define "home"}}
    {{template "base" .}}
{{end}}

{{define "title"}}Home{{end}}

{{define "content"}}
<div class="bg-gray-100 font-sans min-h-screen">
    <div class="py-20 bg-gradient-to-b from-green-800 to-gray-100">
        <div class="container mx-auto px-6">
            <h2 class="text-4xl font-bold mb-2 text-white">
                Welcome to Widget App!
            </h2>
            <h3 class="text-2xl mb-8 text-gray-200">
                Manage your widgets with ease
            </h3>
            <a href="/widgets" class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:bg-gray-200 transition duration-300 inline-block text-center">
                Get Started
            </a>
        </div>
    </div>

    <div class="container mx-auto px-6 py-10">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
            Features
        </h2>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/4 px-4 mb-8">
                <div class="bg-white rounded-lg shadow-lg p-6 h-32">
                    <h3 class="text-xl font-bold mb-4">View Widget Data</h3>
                    <p class="text-gray-600">Access and analyze your widget data in real-time.</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-4 mb-8">
                <div class="bg-white rounded-lg shadow-lg p-6 h-32">
                    <h3 class="text-xl font-bold mb-4">Create Widgets</h3>
                    <p class="text-gray-600">Create new widgets and components.</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-4 mb-8">
                <div class="bg-white rounded-lg shadow-lg p-6 h-32">
                    <h3 class="text-xl font-bold mb-4">Edit Widgets</h3>
                    <p class="text-gray-600">Update/Remove existing widgets and components</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-4 mb-8">
                <div class="bg-white rounded-lg shadow-lg p-6 h-32">
                    <h3 class="text-xl font-bold mb-4">View Your Profile</h3>
                    <p class="text-gray-600">Manage your account and personalize your experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}