{{define "home"}}
    {{template "base" .}}
{{end}}

{{define "title"}}App Home{{end}}

{{define "content"}}
<div>
    <h1>Home</h1>
    <p>Welcome {{.User}}!</p>
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Delete</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">Add</button>
</div>
{{end}}