{{define "navbar"}}
<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-6xl mx-auto px-6">
        <div class="flex justify-between">
            <div class="flex space-x-7 items-center">
                <div>
                    <a href="#" class="flex items-center px-2">
                        <span class="font-semibold text-white text-2xl">Widgets</span>
                    </a>
                </div>
            </div>
            <div class="hidden md:flex items-center space-x-1">
                <a href="#" class="py-4 px-2 text-white font-semibold hover:text-pink-300 transition duration-300">Home</a>
                <a href="#" class="py-4 px-2 text-white font-semibold hover:text-pink-300 transition duration-300">Products</a>
                <a href="#" class="py-4 px-2 text-white font-semibold hover:text-pink-300 transition duration-300">About</a>
                <a href="#" class="py-4 px-2 text-white font-semibold hover:text-pink-300 transition duration-300">Contact</a>
            </div>
        </div>
    </div>
</nav>
{{end}}

