aws_region  = "us-east-1"
aws_profile = "my-aws-profile"
namespace    = "init-full-stack-ops"
state_bucket_ops     = "bucket"
state_bucket_key_ops = "key"
allowed_ssh_ip       = "1.2.3.4"
ssh_key_pair = "my-shh-key-pair-name"
ec2_ami = "ami-123456789"
app_domain = "example.com"